* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/avengers-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    color: gold
}

a {
    text-decoration: none;
    color: gold
}

a:hover {
    color: rgba(255, 215, 0, 0.7);
    text-decoration: underline;
}

button a:hover{
    text-decoration: none;
}

.view {
    margin: 30px;
}

.timer {
    margin: 30px;
}

main {
    text-align: center;
}

.visible {
    position: relative;
    top: 100px;
    margin: 0 200px;
    font-size: 20px;
    background: rgba(135,193,255,0.6);
    color: maroon;
}

.visible p {
    padding: 0 70px;
}

button {
    font-size: 25px;
    border: solid gray 3px;
    border-radius: 12px;
    background: red;
    color: gold;
}

button:hover {
    opacity: 0.6;
}

.hidden {
    display: none;
}

.answers {
    display: inline-grid;
}

.answers button {
    margin: 10px
}

ol {
    list-style-position: inside;
    padding: 0;
}